:root {
  --primary-color: hwb(96 29% 25%);
}

body {
  background: hsl(79, 44%, 86%);
  font-family: "Times New Roman";
}

.navbar {
  background: white;
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 1.2em;
}
.navbar .logo span {
  color: var(--primary-color);
}

nav {
  display: none;
}

.container {
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: none;
  padding: none;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}
.hero .left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}
.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.hero .left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}
.hero .left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}
.hero .left-col .watch-video-cta img {
  height: 60px;
  width: 10%;
}
.hero .left-col .hero-img img {
  height: 500px;
  width: 70%;
  margin-top: 5em;
  margin-left: 5em;
}

.drop-down list {
  text-align: left;
  font-size: 1.2em;
  padding: 5em 2em;
  margin-top: 3em;
  text-decoration: none;
  display: block;
  position: fixed;
}
.drop-down list h3 {
  font-size: 1.2em;
  border: 3px solid rgb(41, 133, 33);
  font-weight: bold;
  padding: 1.5em 1em;
  line-height: 1.3em;
  display: block;
}

section.features-section {
  background: rgb(103, 64, 64);
  color: white;
  display: block;
}
section.features-section img {
  height: 20em;
  width: 40%;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  list-style-type: disc;
}
ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

section.testimonials-section {
  background: var(--primary-color);
  color: white;
}
section.testimonials-section .container ul li {
  background: rgb(11, 126, 11);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
section.testimonials-section .container ul li img {
  width: 6em;
  height: 5em;
  border: 5px solid rgb(11, 126, 11);
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact-left h2 {
  font-size: 2em;
}
.contact-left label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.contact-left input, .contact-left textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
  position: relative;
}
.contact-left input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
.contact-left iframe {
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
}/*# sourceMappingURL=style.css.map */